<section class="container-fluid" id="about_page">
	<% if user_signed_in? %>
	<div class="col-sm-12">
	  <h1 class="thank_you">Thank you for following the Andy in SF Adventure!</h1>
	</div>
	<% else %>
	<%= image_tag("https://s3.amazonaws.com/andyinsfimages/andy_in_the_bay.jpg", class: "col-sm-3 img-responsive center-block", :id => "andy_profile") %>
	<div class="col-sm-6" id="what_about">
		<h2 id="whatis">What is "Andy in SF"?</h2>
		<h5 id="glad">I'm so glad you asked.</h5>
		<%= image_tag("https://s3.amazonaws.com/andyinsfimages/Icons/photo_icon.png", class: "img-responsive center-block", :id => "photo_icon") %>
		<h4 id="about_where">This is where I'll be sharing stories and reports of all the cool stuff that is happening in San Francisco, California!</h4>
		<br />
		<%= image_tag("https://s3.amazonaws.com/andyinsfimages/Icons/journal_icon.png", class: "img-responsive center-block", :id => "journal_icon") %>
		<h4 id="about_mom">It's a fun way of updating my mom on what's happening so she doesn't worry &amp; can stay focused on her naptime!</h4>
		<br />
		<%= image_tag("https://s3.amazonaws.com/andyinsfimages/Icons/footsteps_icon.png", class: "img-responsive center-block", :id => "footsteps_icon") %>
		<h4 id="about_touch">Stay up to date by reading the blog, signing up, checking in, and keeping in touch (no carrier pigeons please)!</h4>
	</div>
	<%= image_tag("https://s3.amazonaws.com/andyinsfimages/darkprofile.jpeg", class: "col-sm-3 img-responsive center-block andy_profile") %>
	<% end %>
</section>