<!DOCTYPE html>
<html>
  <head>
    <title>Andy in SF</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Heebo:300,400,700', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
<body data-spy="scroll" data-target=".navbar">
  <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

 	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-inner">
        <div id="logo" class="navbar-brand"><%= link_to image_tag("https://s3.amazonaws.com/andyinsfimages/aw_logo.png", size: "50x50", class:"img-responsive img-circle"), root_path %></div>
        <div id="site-title" class="navbar-brand hidden-xs"><%= link_to "Andy in SF", root_path %></div>
        <div class="navbar-brand" id="header-navs"><a href="#about">About</a></div>
        <div class="navbar-brand" id="header-navs"><a href="#blog">Blog</a></div>
        <div class="navbar-brand" id="header-navs"><a href="https://app.moonclerk.com/pay/lkaoogze9ok" target="_blank">Give</a></div>
        <div class="navbar-header navbar-right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right nav-pills pull-right">
              <li id="avatar-thumb"><%= image_tag current_user.avatar.url(:thumb), class:"img-responsive img-circle" %></li>
              <li id="fat-menu" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "@" + current_user.username, 'infos/profile' %></li>
                    <li><%= link_to("Edit Profile", edit_user_registration_path) %></li>
                    <li>
                      <% if current_user.try(:admin?) %>
                        <%= link_to "New Post", new_post_path %>
                      <% end %>
                    </li>
                </ul>
              </li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
              <li><%= link_to "Sign In",  new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="bannerhelp">
    <% if current_page?(root_path) %>
      <%= render 'layouts/landing' %>
    <% end %>
  </div>

  <div class="mainbody">
    <div class="container-fluid" id="about">
       <% if current_page?(root_path) %>
        <%= render 'layouts/about' %>
      <% end %>
    </div>


    <div id="blog">
      <%= yield %>
    </div>
  </div>

  <div class="mainbody">
    <div class="container-fluid" id="about">
       <% if current_page?(root_path) %>
        <%= render 'layouts/prayerpraise' %>
      <% end %>
    </div>

  <%= render 'layouts/footer' %>


</body>
</html>
